.registration__img{
    max-width: 90%;
}

.registration__header{
    font-size: var(--size-3xl);
    text-align: center;
}

.form__wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.registration__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.registration__column{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.registration__button-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.registration__btn{
    font-size: var(--size-2xl);
}