.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    color: var(--clr-light);
    padding: 0.5em 1em;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.lightyellow-btn{
    background-color: var(--clr-lightyellow);
    /* box-shadow: 0 10px 20px rgba(240, 154, 43, 0.5),
    0 6px 6px rgba(240, 154, 43, 0.5), 0 0 100px -10px var(--clr-lightyellow); */
}

.lightyellow-btn:hover{
  background: var(--clr-lightyellow-hover);
}

.blue-btn{
  background-color: var(--clr-blue);
  /* box-shadow: 0 10px 20px rgb(3, 87, 147, 0.5), 0 6px 6px rgb(3, 87, 147, 0.5), 0 0 100px -10px var(--clr-blue); */
}

.blue-btn:hover{
  background-color: var(--clr-blue-hover);
}

.darkyellow-btn{
  background-color: var(--clr-darkyellow);
  /* box-shadow: 0 10px 20px rgb(236, 118, 14, 0.5), 0 6px 6px rgb(236, 118, 14, 0.5), 0 0 100px -10px var(--clr-darkyellow); */
}

.darkyellow-btn:hover{
  background-color: var(--clr-darkyellow-hover);
}

.darkred-btn{
  background-color: var(--clr-darkred);
  /* box-shadow: 0 10px 2px rgb(119, 13, 22, 0.5), 0 6px 6px rgb(119, 13, 22, 0.5), 0 0 100px -10px var(--clr-darkred); */
}

.darkred-btn:hover{
  background-color: var(--clr-darkred-hover);
}

.container{
    max-width: 1535px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.fullwidth{
  min-width: 100%;
}

.section{
  margin-top: 5rem;
}

.main{
  display: flex;
  flex-direction: row;
}

.content-section{
  flex: 1;
  gap: 2rem;
}

.hero-section{
  justify-content: center;
  align-items: center;
  width: 30%;
}

.hero__header{
  font-size: var(--size-4xl);
}

.main__section{
  display: flex;
  flex-direction: column;
}

.disagree-btn{
  color: var(--clr-red);
}

.input{
  border: 3px solid var(--clr-darkyellow);
  padding: 0.25rem;
  font-size: var(--size-xl);
  border-radius: 8px;
}

.error-message{
  color: var(--clr-red);
  max-width: 40ch;
}

.input-field{
    display: flex;
    flex-direction: column;
}

.input-label{
    font-size: var(--size-xl);
}

.hero__header-with-user{
  font-size: var(--size-6xl);
}

.hero__header-user{
  font-size: var(--size-4xl);
  color: var(--clr-darkyellow);
}


/* 2xl*/
@media (max-width: 1536px) {
  .container{
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container{
    max-width: 1024px;
  }

  .hero__header{
    font-size: var(--size-3xl);
  }

  .hero__header-with-user{
    font-size: var(--size-5xl);
  }

  .hero__header-user{
    font-size: var(--size-3xl);
  }
}

/* lg */
@media (max-width: 1024px) {
  .container{
    max-width: 768px;
  }
  .section{
    margin-top: 5rem;
  }

  .hero__header{
    font-size: var(--size-2xl);
  }

  .hero__header-with-user{
    font-size: var(--size-4xl);
  }

  .hero__header-user{
    font-size: var(--size-2xl);
  }
}

/* md */
@media (max-width: 768px) {
  .container{
    max-width: 640px;
  }

  .main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-section{
    width: 100%;
  }

  .section{
    margin-top: 2.5rem;
  }
  
  .hero__header-with-user{
    font-size: var(--size-5xl);
  }

  .hero__header-user{
    font-size: var(--size-3xl);
  }
}

/* sm */
@media (max-width: 640px) {
  .container{
    max-width: 475px;
  }

  .hero__header-with-user{
    font-size: var(--size-4xl);
  }

  .hero__header-user{
    font-size: var(--size-2xl);
  }
}

/* xs */
@media (max-width: 475px) {
  .container{
    width: 100%;
  }

  .hero__header-with-user{
    font-size: var(--size-3xl);
  }

  .hero__header-user{
    font-size: var(--size-xl);
  }
}

/* 2xl*/
/* @media (max-width: 1536px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */